/* scaffolded with generator */

$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/*add padding to the top of body to prevent navbar overlay*/
body { padding-top: 70px; }


/* navbar */
.navbar { height: 80px; }

.navbar-inverse {
    background: #FFE40C; 
    border-color: #FFE37B;
}

/* About us section */


/* Services section */
section.service-intro {
    background: #BDBDBD;
    color: #fff;
}

/* Team Section */
section.team-section {
    background: #FFE40C; 
    color: #706f6f;
}

/* Contact Section */


/* Footer Section */
footer.footer-section {
    background: #BDBDBD;
}