/* scaffolded with generator */

$icon-font-path: '../fonts/';

/* bower:scss */
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "mynavbar";
@import "myteam";
@import "services";
@import url(https://fonts.googleapis.com/css?family=Raleway:600);

/* Site colors */
$blue: #0077cb;
$grey: #726B6B;
$yellow: #FFE40C;

/*add padding to the top of body to prevent navbar overlay*/
body { 
    padding-top: 80px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}


/* Banner section */

.item {
    border-bottom: 5px solid #FFE40C;
}
/* About us section */
.abouttext {
    h2 {
        margin: 10% 0 5% 0;
    }
    p {
        margin: 7% 0 7% 0;
        font-size: 1.5em;
    }
    .row {
        margin-bottom: 20%;
    }
}
blockquote { 
    display: block;
    font-size: 28px;
    position: relative; 
    padding-left: 90px;
    color: $yellow;
    border-color: $yellow;
    margin-bottom: 10%;
    font-style: italic;
}
 
blockquote:before {
    content: "\f10d";
    font-size: 55px; 
    font-family: FontAwesome;
    position: absolute;
    top: -4px;
    left: 20px;
}

blockquote span:before{
    content:'--';
    padding: 0 10px 0 0;
}

blockquote span{
    padding: 10px 0;
    display: block;
    font-size: 16px;
    color: #999;
}

section.about {
    background-image: url('../images/blueprint.jpg');
    background-size: cover;
    color: #fff;
    border-bottom: 5px solid #FFE40C;
}

/* Services section */
section.service-intro {
    background: url('../images/servicebg.jpg');
    background-size: cover;
    color: #FFF;
    .servicebutton .row {
        margin: 2% 0 10% 0;
        .btn-info {
            background: $blue ;
        }
        .btn-info:hover {
                background: $yellow;
                border-color: #fcea5f;
                color: #000;
            }
    }
}
.servicetext {
    h2 {
        margin: 5% 0 5% 0;
    }
    h3 {
        margin-bottom: 5%;
    }
    p {
        margin-bottom: 5%;
        font-size: 1.5em;
    }
}

/* Team Section */
section.team-section {
    background: $yellow; 
    color: #706f6f;
}
.team-section div {
    h2 {
        margin: 10% 0 5% 0;
    }
    h3 {
        margin-bottom: 5%;
    }
    .teamdetail {
        margin-bottom: 10%;
    }
}
.team-member {
    margin-bottom: 15%;
}
/* Contact Section */
section.contact {
    background-image: url('../images/contact.jpg');
    background-size: cover;
    color: #fff;
}

/* Footer Section */
footer.footer-section {
    background: $blue;
    color: #FFF;
}
.footer span {
    img {
    display: inline;
    float:left;
    }
    h4 {
        padding-top:2%;
    }
}
 .foreman {
    margin:3% 0 3% 0;
    a {
        color: #fff;
        text-decoration: underline;
    }
 }