/* scaffolded with generator */

$icon-font-path: '../fonts/';

/* bower:scss */
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

/* Site colors */
$turquoise : #00c5cb;
$grey: #BDBDBD;
$yellow: #FFE40C;

/*add padding to the top of body to prevent navbar overlay*/
body { padding-top: 70px; }


/* navbar */
.navbar { height: 80px; }

.navbar-inverse {
    background: $turquoise; 
    border-bottom-width: 3px;
    border-color: #FFE37B;
}

/* About us section */


/* Services section */
section.service-intro {
    background: $grey;
    color: #fff;
}

/* Team Section */
section.team-section {
    background: $yellow; 
    color: #706f6f;
}

/* Contact Section */


/* Footer Section */
footer.footer-section {
    background: $turquoise;
}
